#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}

.dashboard-widget {
    height: 100px;
    text-align: center;
    padding: 20px;
}

.main-content {
    position: relative;
    min-height: 80vh;
}

#nav {
    padding: 30px;
}

#nav a {
    font-weight: bold;
    color: #2c3e50;
}

#nav a.router-link-exact-active {
    color: #42b983;
}

.bg-light {
    /* background-color: #17a2b8!important; */
}

#nprogress .bar {
    background: #6610f2!important;
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px!important;
}

.table div {
    display: contents;
}