VUE_APP_API_URL=http://127.0.0.1:8000/api/
VUE_APP_API_KEY=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwOlwvXC8xMjcuMC4wLjE6ODAwMFwvYXBpXC9hdXRoXC9sb2dpbiIsImlhdCI6MTY1NzYxMjQ5NSwiZXhwIjoxNjYwMjA0NDk1LCJuYmYiOjE2NTc2MTI0OTUsImp0aSI6Ik9oWThLRTRiR0h2a2ZYYnkiLCJzdWIiOiIxIiwicHJ2IjoiMjNiZDVjODk0OWY2MDBhZGIzOWU3MDFjNDAwODcyZGI3YTU5NzZmNyJ9.5Wglp5O_tUgF5NeDO7wRgwyu_hbmCHbIV8sY1fGbGPc